<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
    <link rel="stylesheet" href="reset-password.css">
    <style>
        h1{

text-align: center;
}
form{
width: 40%;
height: 100%;
margin: auto;
}
form label{
display: block;
width: 100%;
margin-top: 20px;
}
form input{
margin-top: 10px;
display: block;
width: 100%;
padding: 5px;

}
form button{
padding: 10px 20px;
background-color: blue;
border: none;
color: white;
font-weight: bold;
margin-top: 20px;
}
button:hover{
cursor: pointer;
background-color: rgb(21, 21, 209);
}
    </style>
</head>
<body>
    <h1>Reset password</h1>
    <form action="" method="post">
        <label for="password1">Enter Password</label>
        <input type="password" name="password1" id="password1">
        <label for="password2">Confirm password</label>
        <input type="password" name="password" id="password2">
    
        <button type="submit">submit</button>
    </form>
</body>
</html>